body{
background:#f5f5f5;
font-family:Arial,sans-serif;
text-align:center;
}

h1{
color:red;
}

.card{

width:300px;

background:white;

margin:auto;

padding:20px;

border-radius:25px;

box-shadow:0 10px 30px rgba(0,0,0,.15);

}

img{

width:150px;

}
